@{
    ViewBag.Title = "Home Page";
    ViewBag.Header = "The Joel Hilton Film Collection";
}


<div class="text-center">
    <img src="~/JoelHilton.jpg" class="img-transform" />
    <p style="font-style:italic; color:grey;">Above - Joel Hilton, the founder of the Joel Hilton Film Collection</p>
    <br />
    <div style="max-width:700px; margin:auto">
        <p>
            Joel Hilton is very into movies. So into movies, in fact, that he minored in Film
            Studies at BYU, contracts as a movie reviewer for ClearPlay, and does a weekly podcast about
            movies called <a asp-action="MyPodcasts">Baconsale</a> with a couple friends.
        </p>
    </div>
</div>