@{
    ViewBag.Title = "Home Page";
    ViewBag.Header = "The Joel Hilton Film Collection";
}


<div class="text-center">
    <img src="~/JoelHilton.jpg" class="img-transform"/>
    <p style="font-style:italic; color:grey;">Above - Joel Hilton, the founder of the Joel Hilton Film Collection</p>
</div>