@{
    ViewBag.Title = "Add Movies";
    ViewBag.Header = "Add to the Film Collection";
}

@model baconsale.Models.MovieResponse


<div class="text-center">
    <form method="post" asp-action="MyMovies" class="align-left" id="movie-form">
        <div>
            <label class="movie-form-label" asp-for="Category">Category:</label>
            <input asp-for="Category" id="Category" />
        </div>
        <div>
            <label class="movie-form-label" asp-for="Title">Title:</label>
            <input asp-for="Title" id="Title" />
        </div>
        <div>
            <label class="movie-form-label" asp-for="Year">Year:</label>
            <input asp-for="Year" id="Year" />
        </div>
        <div>
            <label class="movie-form-label" asp-for="Director">Director:</label>
            <input asp-for="Director" id="Director" />
        </div>
        <div>
            <label class="movie-form-label" asp-for="Rating">Rating:</label>
            <select asp-for="Rating" id="Rating">
                <option value="">Select Rating</option>
                <option value="G">G</option>
                <option value="PG">PG</option>
                <option value="PG-13">PG-13</option>
                <option value="R">R</option>
            </select>
        </div>
        <div>
            <label class="movie-form-label">Edited:</label>
            <input type="radio" asp-for="Edited" name="Edited" id="Edited" value="true">
            <label>Yes</label>
            <input type="radio" asp-for="Edited" name="Edited" id="Edited" value="false">
            <label>No</label>
        </div>
        <div>
            <label class="movie-form-label" asp-for="LentTo">Lent to:</label>
            <input asp-for="LentTo" id="LentTo" />
        </div>
        <div>
            <label class="movie-form-label" asp-for="Notes">Notes:</label>
            <input asp-for="Notes" id="Notes" />
        </div>
        <div class="text-center">
            <button type="submit" id="submitButton">Add Movie to List</button>
        </div>
    </form>
    <br />
    <div class=align-left asp-validation-summary="All"></div>
</div>
